
  .my-component {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .accordion {
    border: 1px solid #ddd;
    border-radius: 4px;
    /* overflow: hidden; */
    margin-top: 20px;
  }
  
  .accordion-item {
    border-bottom: 1px solid #ddd;
  }
  
  .accordion-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .accordion-button.active {
    background: #e0e0e0;
  }
  
  .user-icon {
    margin-right: 10px;
  }
  
  .accordion-title {
    flex-grow: 1;
    text-align: left;
  }
  
  .arrow-icon {
    transition: transform 0.3s;
  }
  
  .arrow-icon.open {
    transform: rotate(90deg);
  }
  
  .accordion-content {
    padding: 10px;
    background: #f9f9f9;
  }
  
  .input-field {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

  .card-body-container {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .icon-container {
    margin-right: 10px; /* Add margin between icon and text */
  }
  
  .user-icon {
    font-size: 24px; /* Adjust icon size */
    color: #007bff; /* Adjust icon color */
  }
  
  .user-id {
    font-weight: bold; /* Make user ID bold */
    margin: 0; /* Remove default margin */
  }
  
  .other-info {
    margin: 0; /* Remove default margin */
  }
  

  .card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
    
  }

  .user-img{
    font-size: 40px;
    margin-bottom: 18px;
  }

  .user-box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    
  }

  .text-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px;

  }