.product-main{
  background-color: rgb(239, 238, 243);
}

.product-details {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    margin: 5px;
  }
  
  .image-card {
    flex: 1;
  }
  
  .image-card img {
    width: 100%;
    height: auto;
  }
  
  .info-card {
    padding: 10px;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .info-label {
    font-weight: bold;
  }
  
  .description-card {
    padding: 10px;
  }

  .product-button {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    height: 75px;
  }
  